header {
    width: 100%;
    height: 50px;
    display: grid;

    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}
header .header-icons-container {
    width: 100%;
    height: 50px;
    display: grid;
    background-color: #181818;
}
header .header-icons-container .icons {
    width: 300px;
    height: 50px;
    display: flex;
    justify-items: flex-end;
    align-items: center;
    justify-content: flex-end;
    justify-self: end;
    margin-right: 50px;
}
header .icons span {
    color: whitesmoke;
}
.grid-container {
    max-width: 980px;
    margin: auto;
}
footer {
    width: 100%;
    height: 80px;
    background-color: #181818;
    border-top: 35px solid #01aa6d;
}

.blogpost-image-container {
    margin-top: 70px;
    padding:  0 50px  40px;
}
.blogpost-image-container img {
    width: 100%;
}
.blogpost-main-container {
    padding:  0 50px  40px;
    color: whitesmoke; 
}
.blogpost-main-container h3 {
    border-bottom: solid 1px #cdd3da;
}
.contact-main-container {
    background-color: #cdd3da;
    display: flex;
    place-content: center;
    justify-content: space-around;
}