
  @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;700&family=Roboto+Slab:wght@400;700&family=Roboto:wght@400;500;700;900&display=swap');


body
{
    font-family: 'Roboto Mono', monospace;
    background: #545c59;
    /* kcolor: #333; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
a {
    text-decoration: none;
    display: inline;
    color: black;
}
.home-body{
    position: fixed;
    top:  0;
    right: 0;
    bottom: 0;
    left: 0;
}
header {
    width: 100%;
    height: 50px;
    display: grid;
    grid-template-rows: 1fr 1fr;
}
header .header-icons-container {
    width: 100%;
    height: 50px;
    display: grid;
    background-color: #181818;
}
header .header-icons-container .icons {
    width: 300px;
    height: 50px;
    display: flex;
    justify-items: flex-end;
    align-items: center;
    justify-content: flex-end;
    justify-self: end;
    margin-right: 50px;
}
header .icons span {
    color: whitesmoke;
}

main.home-main {
    background: url('https://images.pexels.com/photos/261579/pexels-photo-261579.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    object-fit: contain;
    height: 95vh;
    color: whitesmoke;
}
.section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column: 1 / 3;
    height: 100%;
    width: 100%;
    place-self: top;
}
.section-logo-container {
    margin-left: 30px;
}
.section-logo-container a img {
     width: 60px;
}
.about-me-link {
    display:  flex;
    align-items: baseline;
    justify-content: flex-end;
    margin-right: 50px;
    margin-top: 20px;
    
}
.about-me-link a {
    color: whitesmoke;
    border-bottom: 2px solid whitesmoke;
}
.home-main-text {
    grid-column: 1 / 3;
   
}
.home-main-button {
    background-color: #01aa6d;
    padding: 16px;
    border-radius: 8px;
    color: whitesmoke;
    font-weight: bold;
    grid-column: 1 / 3;
    
}